/********************************/
/*		  Checkbox Style 		*/
/********************************/
.checkbox {
  float: left;
  clear: left;
  cursor: pointer;
  padding-bottom: 10px;
  font-family: inherit; }
  .checkbox span {
    float: left;
    height: 15px;
    width: 15px;
    border: 3px solid #007bae;
    margin-right: 5px; }
  .checkbox.yes span {
    background: #007bae; }

/********************************/
/*		Radio Button Style 		*/
/********************************/
.radio {
  float: left;
  clear: left;
  cursor: pointer;
  padding-bottom: 10px;
  font-family: inherit; }
  .radio span {
    float: left;
    height: 15px;
    width: 15px;
    border: 3px solid #be485e;
    margin-right: 5px;
    border-radius: 50%; }
  .radio.yes span {
    background: #be485e; }
